.movieCard {
  max-width: 14rem;
h6{
  color: rgb(7, 24, 29);
}
  .movieCardHeader {
    font-size: 16px;
    font-weight: 400;
    height: 3.5rem;
    background-color:rgb(233, 232, 232);
  }

  .movieCardImg {
    height: 10rem;
    background-color: antiquewhite;
  }
  .imdbOrder {
top:13.3rem;
right:0;
padding: 0 7.8%;
  }
  .movieCardFooter{
   background-color: rgb(28, 32, 34);
   font-size: 15px;

   .movieCardDetail{
     height: 13%;
      width: 30px;
   }

  }


}
