.signInContainer{
min-height: 100vh;
min-width: 100%;
background-color: rgb(245, 245, 245);


.signInBackground{
width: 20rem;
height: 27rem;
border-radius: 1rem 0 0 1rem;
background-image: url("../../../images/1.png");
background-size:cover;
background-repeat: no-repeat;



}


.signInForm{
background-color: #c0bbec;
width: 25rem;
height: 27rem;
font-size: 16px;
padding: 2rem 3rem;
border-radius:0 1rem 1rem 0;
color: rgb(0, 0, 0);
}

@media (max-width:767px) {
    .signInForm {
   position: relative;
   top: 0; 
   right: 0%; 
   border-radius: 5px;
   margin:5rem 1rem 1rem 1rem;
   background-color: rgb(0, 0, 0,0);
   color: rgb(145, 145, 145);

 }
} 


@media  (max-width:767px) {
    .signInBackground {
   position: absolute;
   border-radius: 15px;


 }
} 



}


/*
    @media (min-width: 412px) and (max-width:767px) {
         .scrollBottom {
        position: fixed;
        top: 90.5vh; /* Üstten 10 piksel boşluk 
        right: 8%; /* Sağdan 10 piksel boşluk 
      }
    }

    

   
    @media (max-width:411px) {
      .scrollTop {
          position: fixed;
          top: 33vh; /* Üstten 10 piksel boşluk 
          right: 8%; /* Sağdan 10 piksel boşluk 
        }
  }
  */