.signInContainer{
min-height: 100vh;
min-width: 100%;
background-color: rgb(245, 245, 245);


.signInBackground{
width: 20rem;
height: 27rem;
border-radius: 1rem 0 0 1rem;
background-image: url("../../../images/1.png");
background-size:cover;
background-repeat: no-repeat;

} 

.signInForm{
background-color: #c0bbec;
width: 25rem;
height: 27rem;
font-size: 16px;
padding: 2rem 3rem;
border-radius:0 1rem 1rem 0;

}


}


