.formContainer {
  min-height: 100vh;
  background-color: rgb(165, 165, 165);

  .signUpForm {
    max-width: 90%;
    min-width: 30%;

    background-color: rgba(255, 255, 255, 1);

    .signUpHead {
      font-size: 20px;
    }
    .signUpLabel {
      font-size: 13px;
    }

    .signUpFormControl {
    }
  }
}
