
//Masaüstü scroll
@media (min-width: 1035px) {
  .scrollTop {
    position: fixed;
    top: 22vh; /* Üstten 10 piksel boşluk */
    right: 2%; /* Sağdan 10 piksel boşluk */
  }
}

@media (min-width: 1035px) {
  .scrollBottom {
    position: fixed;
    top: 92vh; /* Üstten 10 piksel boşluk */
    right: 2%; /* Sağdan 10 piksel boşluk */
  }
}

 // 1035px
 @media (min-width: 992px) and (max-width:1035px) {
    .scrollTop {
        position: fixed;
        top: 22.5vh; /* Üstten 10 piksel boşluk */
        right: 0.2%; /* Sağdan 10 piksel boşluk */
      }
}

@media (min-width: 992px) and (max-width: 1035px) {
    .scrollBottom {
        position: fixed;
        top: 92vh; /* Üstten 10 piksel boşluk */
        right: 0.2%; /* Sağdan 10 piksel boşluk */
      }
}


 // Tablet scroll
 @media (min-width: 768px) and (max-width: 991px) {
    .scrollTop {
        position: fixed;
        top: 22vh; /* Üstten 10 piksel boşluk */
        right: 2%; /* Sağdan 10 piksel boşluk */
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .scrollBottom {
        position: fixed;
        top: 92vh; /* Üstten 10 piksel boşluk */
        right: 2%; /* Sağdan 10 piksel boşluk */
      }
}


    //Mobil 
    @media (max-width: 767px) {
        .scrollTop {
            position: fixed;
            top: 45vh; /* Üstten 10 piksel boşluk */
            right: 8%; /* Sağdan 10 piksel boşluk */
          }
    }

    @media (max-width: 767px) {
         .scrollBottom {
        position: fixed;
        top: 93vh; /* Üstten 10 piksel boşluk */
        right: 8%; /* Sağdan 10 piksel boşluk */
      }
    }

    //
.cardRow {
  background-color: #000000;
}
