
//Masaüstü scroll
@media (min-width: 1035px) {
  .scrollTop {
    position: fixed;
    top: 22vh; 
    right: 2%; 
  }
}

@media (min-width: 1035px) {
  .scrollBottom {
    position: fixed;
    bottom: 18vh; 
    right: 2%; 
  }
}

 // 1035px
 @media (min-width: 992px) and (max-width:1035px) {
    .scrollTop {
        position: fixed;
        top: 23vh; 
        right: 0.2%; 
      }
}

@media (min-width: 992px) and (max-width: 1035px) {
    .scrollBottom {
        position: fixed;
        bottom: 15vh; 
        right: 0.2%; 
      }
}


 // Tablet scroll
 @media (min-width: 768px) and (max-width: 991px) {
    .scrollTop {
        position: fixed;
        top: 14vh; 
        right: 1.5%; 
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .scrollBottom {
        position: fixed;
        bottom: 10vh; 
        right: 1.5%; 
      }
}


    // 
    @media (min-width: 412px) and (max-width:767px) {
        .scrollTop {
            position: fixed;
            top: 36vh; 
            right: 8%; 
          }
    }

    @media (min-width: 412px) and (max-width:767px) {
         .scrollBottom {
        position: fixed;
        bottom: 12vh; 
        right: 8%; 
      }
    }

    //

    // 
    @media (max-width:411px) {
      .scrollTop {
          position: fixed;
          top: 36.9vh; 
          right: 8%; 
        }
  }

  @media  (max-width:411px) {
       .scrollBottom {
      position: fixed;
      bottom: 8vh; /* Üstten 10 piksel boşluk */
      right: 8%; /* Sağdan 10 piksel boşluk */
    }
  }


.cardRow {
  background-color: #000000;
}
